<h1>Bienvenido a Nuestro Sitio</h1>

<%= link_to 'Registro Usuario', usuarios_sign_up_path, class: "btn btn-primary" %>
<%= link_to 'Registro Organizaci贸n', organizaciones_sign_up_path, class: "btn btn-primary" %>

<%= link_to 'Iniciar Sesi贸n Usuario', usuarios_login_path, class: "btn btn-secondary" %>
<%= link_to 'Iniciar Sesi贸n Organizaci贸n', organizaciones_login_path, class: "btn btn-secondary" %>
